MONGO_URI=xxxx

PORT=8000

# (https://example.com, https://anotherexample.com)
CORS_ORIGIN=xxxx


ACCESS_TOKEN_SECRET=xxxx
ACCESS_TOKEN_EXPIRY=xxxx

REFRESH_TOKEN_SECRET=xxxx
REFRESH_TOKEN_EXPIRY=xxxx


MAILTRAP_SMTP_HOST=xxxx
MAITRAP_SMTP_PORT=xxxx
MAILTRAP_SMTP_USER=xxxxx
MAILTRAP_SMTP_PASS=xxxxx     



FORGOT_PASSWORD_REDIRECT_URL=xxxx



GMAIL_USER=xxxx
GMAIL_APP_PASSWORD=xxxx



#spaces
SPACES_ACCESS_KEY=xxxx
SPACES_SECRET_KEY=xxxx
SPACES_REGION=xxxxx
SPACES_BUCKET=xxxx
SPACES_ENDPOINT=xxxx